

html {
//  background-color:  white;
  font-family: sans-serif;
}
body{
  margin:0;
}
.one-page{
  display: flex;
  flex-direction: column;
  margin:auto;
  justify-content: center;
}
.navigate-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:auto;
  min-height:5rem;
  font-weight: bold;
}
.navigate-link{
  margin:auto;
  color:white;
  font-size:1.4rem;
}
.navigate-link:hover{
  color:black;
}
.intro-backg {
  transform: skewY(-4deg);
  transform-origin: 0%;
  background: linear-gradient(232.94deg, rgba(219, 140, 220, 0.65) 25.87%, rgba(252, 216, 253, 0.65) 25.87%, rgba(203, 120, 204, 0.65) 62.45%, rgba(255, 255, 255, 0) 62.61%), #9C009E;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  left: 0;
  z-index: -1;
  height: 100%;
}

.back {
  transform: skewY(-1deg);
  transform-origin: -150%;
  z-index: -2;
  background: #262626;
}
.intro{
  padding-left:10%;
  padding-right:10%;
  color:white;
  padding-bottom:3%;
  position: relative;
}
.slogan{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  //max-width:50%;
  min-width:45%;
  padding-left:10%;
  padding-right:10%;
}
#slog1{

}
#slog2{
  margin-left:30%;
  margin-bottom:5%;
}
.articles{
  background-color:  white;
  color:black;
  display:flex;
  flex-direction: column;
  padding-left:14%;
  padding-right: 14%;
}
.article{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top:7%;
  padding-bottom:7%;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  border-bottom-width: thin;
  //max-height:10%;
}
.img-fluid{
  width:30%;
  height:30%;
}

@media screen and (max-width:500px){
  .article{
    flex-wrap:wrap;
  }
  .img-fluid{
    max-width:80% !important;
  }
}

.articleContent{
  display:flex;
  flex-direction: column;
  min-width:70%;
  margin-left:3%;
  margin-right:3%;
}
.mediumLink{
  font-weight: bold;
  color: blue;
}
.mediumLink:hover{
  color:darkblue;
}
.partner-bg2 {
  transform: skewY(-1.8deg);
  transform-origin: 60%;
  background:#262626;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  left:0;
  z-index: 0;
  height: 100%;
}
.back2 {
  transform:rotate(0deg);
  z-index: -2;
  background: #9C009E;
  background-size:cover;
  height:105%;
}
.partnerContent{
  z-index:1;
  color:white;
  margin-top:8%;
  max-width:70%;
}
#partner1{
  padding-bottom:10%;
  border-bottom-style: solid;
  border-bottom-color: purple;
  border-bottom-width: medium;

}
#wholePartner1{
  margin-top:3%;
}
.wholePartner{
  display:flex;
  flex-direction:row;
  max-width:50%;
  justify-content: space-between;
  margin:auto;
}
.partnerLogo{
  z-index:1;
  border-radius:50%;
  max-width:100px;
  max-height:100px;
  margin-top:11%;
}
.arrow1{
  max-width:5%;
  transform:rotate(-90deg);
  z-index:1;
  margin:auto;
  margin-top:3%;
}
.arrow1:hover{
  cursor:pointer;
  opacity:0.8;
}
.arrow2:hover{
  cursor:pointer;
  opacity:0.8;
}
.arrow2{
  transform: rotate(90deg);
  max-width:5%;
  z-index:1;
  margin:auto;
  margin-top:3%;
}
.contentUp{
  display:flex;
  flex-direction:column;
}
.contentDown{
  display:flex;
  flex-direction:column;
}
.partners{
  padding-left:15%;
  padding-right:15%;
  padding-top:3%;
  margin:auto;
  position:relative;
  display:flex;
  flex-direction:column;
}
.newsletter{
  padding-left:15%;
  padding-right:15%;
  padding-top:3%;
  padding-bottom:3%;
  margin:auto;
  margin-top:10%;
  display:flex;
  flex-direction: column;
}
.socials{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.socialLogo{
  width:50px;
  height:50px;
  border-radius:50%;
}
.KeepInTouch{
  margin:auto;
  filter:drop-shadow(2px 2px 0.1px #9C009E);
}
.newsletterMail{
  display:flex;
  flex-direction: row;
  justify-content:  space-around;
}
.nextEvents{
  padding-left:10%;
  padding-right:10%;
  padding-top:3%;
  padding-bottom:3%;
  margin-top:10%;
  position:relative;
}
.events-bg3 {
  transform: skewY(-1.8deg);
  transform-origin: 100%;
  background:#262626;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  left:0;
  z-index: -1;
  height: 100%;
}
.back3 {
  transform:skewY(-4deg);
  transform-origin: 0%;
  background: #9C009E;
  background-size:cover;
  margin-top:3%;
  height:100%;
  z-index:-2;
}
.eventsTimeLine{
  color:white;
  text-align: center;
  margin-top:10%;
  display:flex;
  flex-direction: column;
}
.eventsTimeLine>h2{
  filter: drop-shadow(2px 2px 0.1px purple);
}
.footer{
  background-color:  purple;
  text-align: center;
  color:white;
  padding-left:4%;
  padding-right:4%;
  padding-top:3%;
  padding-bottom:3%;
}


a{
  text-decoration: none;
}
h1{
filter:drop-shadow(5px 5px 0.1px black);
font-weight: bold;
}
.form-group{
  display:flex;
  justify-content: center;
}


@media screen and (max-width: 500px) {
  .navigate-link {
    display:block;
    clear:both;
    font-size: 0.7rem;
  }
}
