html {
  background-color: white;
  font-family: sans-serif; }

body {
  margin: 0; }

.one-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center; }

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  min-height: 5rem;
  font-weight: bold; }

.nav-link {
  margin: auto;
  color: white;
  font-size: 1.4rem; }

.nav-link:hover {
  color: black; }

.intro-bg {
  transform: skewY(-4deg);
  transform-origin: 0%;
  background: linear-gradient(232.94deg, rgba(219, 140, 220, 0.65) 25.87%, rgba(252, 216, 253, 0.65) 25.87%, rgba(203, 120, 204, 0.65) 62.45%, rgba(255, 255, 255, 0) 62.61%), #9C009E;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  left: 0;
  z-index: -1;
  height: 100%; }

.back {
  transform: skewY(-1deg);
  transform-origin: -150%;
  z-index: -2;
  background: black; }

.intro {
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  padding-bottom: 3%;
  position: relative; }

.slogan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  padding-left: 10%;
  padding-right: 10%; }

#slog2 {
  margin-left: 30%;
  margin-bottom: 5%; }

.articles {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  padding-left: 14%;
  padding-right: 14%; }

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 7%;
  padding-bottom: 7%;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  border-bottom-width: thin; }

.articleImg {
  border-left-style: solid;
  border-left-color: purple;
  padding-left: 2%; }

.articleImg2 {
  border-right-style: solid;
  border-right-color: purple;
  padding-right: 2%; }

.articleContent {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-left: 3%;
  margin-right: 3%; }

.mediumLink {
  font-weight: bold;
  color: blue; }

.mediumLink:hover {
  color: darkblue; }

.partners {
  background-color: white;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
  position: relative; }

.newsletter {
  background-color: black;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 3%; }

.nextEvents {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%; }

.footer {
  background-color: black;
  color: white;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 3%; }

a {
  text-decoration: none; }

h1 {
  filter: drop-shadow(5px 5px 0.1px black);
  font-weight: bold; }

@media screen and (max-width: 500px) {
  .nav-link {
    display: block;
    clear: both;
    font-size: 0.7rem; } }
